<% assistant ||= local_assigns[:message] %>
<div id="message_<%= assistant.id %>" class="my-4">
  <div>
    Assistant - <%= assistant.created_at&.strftime("%I:%M %p") %>
  </div>

  <div id="message_<%= assistant.id %>_content">
    <% content = JSON.parse(assistant.content) || {} %>
    <%= content['message'] %>
    <% if content['description'] %>
      <pre>
        <%= pretty_compact_hash(JSON.parse(content['description'])) %>
      </pre>
      <% diffs = local_assigns[:diffs] %>
      <% if diffs.present? %>
        <% diffs.each do |diff| %>
          <%= render Editor::DiffComponent.new(diff: diff) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
