<div class="container mt-3">
  <h1 class="h4">New bulk actions</h1>
  <div class="row mt-2 gy-3">
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Perform actions',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::MANAGE_RELEASE,
            BulkActions::REPUBLISH,
            BulkActions::REINDEX
          ]
        ) %>
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Modify objects',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::OPEN_VERSION,
            BulkActions::CLOSE_VERSION,
            BulkActions::ADD_WORKFLOW,
            BulkActions::EXTRACT_TEXT,
            BulkActions::REGISTER,
            BulkActions::PURGE
          ]
        ) %>
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Manage descriptive metadata',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::REFRESH_METADATA,
            BulkActions::EXPORT_DESCRIPTIVE_METADATA,
            BulkActions::VALIDATE_DESCRIPTIVE_METADATA,
            BulkActions::IMPORT_DESCRIPTIVE_METADATA,
            BulkActions::EXPORT_CATALOG_DATA,
            BulkActions::IMPORT_CATALOG_DATA,
            BulkActions::EXPORT_MODS
          ]
        ) %>
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Manage rights and administrative metadata',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::MANAGE_RIGHTS,
            BulkActions::MANAGE_LICENSE_AND_RIGHTS_STATEMENTS,
            BulkActions::MANAGE_EMBARGO,
            BulkActions::MANAGE_GOVERNING_APO,
            BulkActions::APPLY_APO_DEFAULTS,
            BulkActions::MANAGE_SOURCE_ID
          ]
        ) %>
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Manage structural metadata',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::MANAGE_CONTENT_TYPE,
            BulkActions::EXPORT_STRUCTURAL_METADATA,
            BulkActions::IMPORT_STRUCTURAL_METADATA,
            BulkActions::MANAGE_COLLECTIONS,
            BulkActions::CREATE_VIRTUAL_OBJECT
          ]
        ) %>
    <%= render BulkActions::ListSectionComponent.new(
          label: 'Tags and reporting',
          classes: 'col-lg-4 col-md-6',
          bulk_action_configs: [
            BulkActions::EXPORT_TAGS,
            BulkActions::IMPORT_TAGS,
            BulkActions::EXPORT_TRACKING_SHEETS,
            BulkActions::EXPORT_CHECKSUM_REPORT,
            BulkActions::EXPORT_COCINA_JSON
          ]
        ) %>
  </div>
</div>
