<%= content_for :title, 'Items search page' %>

<%= render Search::FormComponent.new(search_form: @search_form, url: search_items_path, label: 'Search for items:') %>

<%= render Search::CurrentFiltersComponent.new(search_form: @search_form) %>

<%= render Search::LayoutComponent.new do |layout| %>
  <%= layout.with_main_content do %>
    <%= turbo_frame_tag 'items-search', data: { turbo_action: 'advance' } do %>
      <% if @results.any? %>
        <section aria-label="Item, collection, and admin policy results">
          <h3>
            Item, collection, and admin policy results
            (<%= number_with_delimiter(@results.total_results) %> found)
          </h3>

          <ul class="list-unstyled">
            <%= render Search::ItemResultComponent.with_collection(@results) %>
          </ul>

          <%= render Elements::Pagination::SectionComponent.new(total_pages: @results.total_pages, current_page: @results.page, path_func: ->(page) { search_items_path(@search_form.with_attributes(page:)) }) %>
        </section>
      <% end %>

      <%= render Search::DebugComponent.new(search_form: @search_form, results: @results) %>

      <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::OBJECT_TYPES,
                                                              facet_counts: @results.object_type_facet,
                                                              search_form: @search_form) do |component| %>
        <% component.with_facet do %>
          <%= render Search::CheckboxFacetComponent.new(facet_counts: component.facet_counts, search_form: component.search_form, form_field: component.form_field) %>
        <% end %>
      <% end %>

      <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::ACCESS_RIGHTS,
                                                              facet_counts: @results.access_rights_facet,
                                                              search_form: @search_form) %>

      <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::MIMETYPES,
                                                              facet_counts: @results.mimetypes_facet,
                                                              search_form: @search_form) %>

      <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::RELEASED_TO_EARTHWORKS,
                                                              facet_counts: @results.released_to_earthworks_facet,
                                                              search_form: @search_form) do |component| %>
        <% component.with_facet do %>
          <%= render Search::DynamicFacetComponent.new(facet_counts: component.facet_counts, search_form: component.search_form, form_field: component.form_field) %>
        <% end %>
      <% end %>

      <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::EARLIEST_ACCESSIONED_DATE,
                                                              facet_counts: @results.earliest_accessioned_date_facet,
                                                              search_form: @search_form) do |component| %>
        <% component.with_facet do %>
          <%= render Search::DynamicFacetComponent.new(facet_counts: component.facet_counts,
                                                       search_form: component.search_form,
                                                       form_field: component.form_field,
                                                       date_from_form_field: component.date_from_form_field,
                                                       date_to_form_field: component.date_to_form_field) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= layout.with_sidebar do %>
    <%= render Search::FacetsSectionComponent.new(search_form: @search_form) %>
  <% end %>
<% end %>
