<%= turbo_frame_tag 'items-search' do %>
  <% if @results.any? %>
    <section aria-label="Item, collection, and admin policy results">
      <h3>
        Item, collection, and admin policy results
        (<%= number_with_delimiter(@results.total_results) %> found)
      </h3>

      <%# proc that takes a page number and returns the path for that page, used for pagination %>
      <div class="d-flex sort-pagination d-md-flex justify-content-between" role="navigation" aria-label="Pagination and sorting controls">
        <% path_func = ->(page) { search_items_path(@search_form.with_attributes(page:)) } %>
        <%= render Elements::Pagination::BriefComponent.new(total_pages: @results.total_pages, current_page: @results.page, path_func:, total_results: @results.total_results, per_page: @results.per_page) %>

        <%= render Elements::SortComponent.new do |component| %>
          <% component.with_button(label: "Sort by #{@search_form.sort_label}") %>
          <% component.with_sort_options([
                                           { label: 'Druid', path: search_items_path(@search_form.with_attributes(sort: 'id asc', page: @search_form.page)) },
                                           { label: 'Relevance', path: search_items_path(@search_form.with_attributes(sort: 'score desc', page: @search_form.page)) }
                                         ]) %>
        <% end %>
      </div>

      <ul class="list-unstyled">
        <%= render Search::ItemResultComponent.with_collection(@results) %>
      </ul>

      <%= render Elements::Pagination::FullComponent.new(total_pages: @results.total_pages, current_page: @results.page, path_func:) %>
    </section>
  <% end %>

  <%= render Search::DebugComponent.new(search_form: @search_form, results: @results) %>

  <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::OBJECT_TYPES,
                                                          facet_counts: @results.object_types_facet,
                                                          search_form: @search_form, facet_component: :checkbox) %>

  <%= render Search::FacetTurboStreamReplaceComponent.new(facet_config: Search::Facets::CONTENT_TYPES,
                                                          facet_counts: @results.content_types_facet,
                                                          search_form: @search_form, facet_component: :checkbox) %>
<% end %>
