<%= turbo_stream_from "chat_#{@chat.id}" %>

<div class="container mb-5">
  <div class="row mb-2">
    <div class="col-6">
      <%= render Editor::CocinaDescriptionCardComponent.new(cocina_description_hash: @cocina_description_hash) %>
    </div>
    <div class="col-6">
      <%= render Editor::PurlPreviewCardComponent.new(purl_preview: @purl_preview) %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title h4">What change would you like to make to the description?</div>

      <div id="messages">
        <% @chat.messages.where(role: ['user', 'assistant']).where.not(id: nil).each do |message| %>
          <%= render message if message.content.present? || message.content_raw.present? %>
        <% end %>
      </div>

      <%= render "messages/form", chat: @chat, message: @message, druid: @cocina_object.externalIdentifier %>
    </div>
  </div>
</div>
