<div class="container my-3">
  <h1 class="h4"><%= label %></h1>
  <p><%= help_text %></p>
  <%= content %>

  <%= render SdrViewComponents::Forms::TextAreaComponent.new(form:, field_name: :description, container_classes: 'mt-3', label_text: 'Describe this bulk action', input_rows: 3) %>

  <div class="d-flex align-items-center mt-3">
    <%= render SdrViewComponents::Forms::SubmitComponent.new(label: 'Submit', classes: 'me-3') %>
    <%= link_to 'Cancel', new_bulk_action_path %>
  </div>
</div>
