<fieldset data-controller="radio">
  <legend>Select source of items for bulk action:</legend>

  <%= render SdrViewComponents::Forms::RadioButtonComponent.new(form:, field_name: :source,
                                                                label_text: 'From last search',
                                                                input_value: 'results', input_disabled: !last_search?, input_data: { radio_target: 'radio', action: 'radio#toggle' }) do |component| %>
    <%= component.with_additional_container_content do %>
      <% if last_search? %>
        <p><%= total_results %> items for: <%= search_form.to_s %></p>
      <% end %>
    <% end %>
  <% end %>

  <%= render SdrViewComponents::Forms::RadioButtonComponent.new(form:, field_name: :source,
                                                                label_text: 'From druid list',
                                                                input_value: 'druids', input_data: { radio_target: 'radio', action: 'radio#toggle' }) do |component| %>
    <%= component.with_additional_container_content do %>
      <%= render SdrViewComponents::Forms::TextAreaComponent.new(form:, field_name: :druid_list, label_text: 'Enter druid list', label_hidden: true, input_rows: 5) %>
    <% end %>
  <% end %>
</fieldset>
