<%= render Elements::SelectedItemComponent.new(path: remove_path, label:) do |component| %>
  <%= component.with_label_content do %>
    <% if query? %>
      <%= value_label %>
    <% elsif include_google_books? %>
      <%= field_label %>
    <% else %>
      <%= field_label %>
      <span class="selected-item-separator">❯</span>
      <%= value_label %>
    <% end %>
  <% end %>
<% end %>
