<%= tag.div data:, role: 'combobox', class: classes do %>
  <div class="input-group">
    <%= tag.label for: id, class: 'input-group-text bg-body border-end-0 pe-0' do %>
      <i class="bi bi-search" aria-hidden="true"></i>
      <span class="visually-hidden"><%= label %></span>
    <% end %>

    <%= tag.input id:, type: 'text', autocomplete: 'off', data: { autocomplete_target: 'input' }, class: 'form-control border-start-0', placeholder: label, aria: { autocomplete: 'list' } %>
  </div>

  <%= helpers.form_with model: search_form, scope: :search, url: search_items_path, method: :get do |form| %>
    <%= render Search::FormHiddenFieldsComponent.new(form_builder: form, search_form:) %>
    <%= form.hidden_field form_field, multiple: true, data: { autocomplete_target: 'hidden', action: 'change->facet-search#submit' } %>
  <% end %>

  <ul class="list-group facet-values" data-autocomplete-target="results"></ul>
<% end %>
