<section aria-label="Facets">
  <h2>Facets</h2>

  <% unless blank_search? %>
    <%= helpers.turbo_frame_tag helpers.facet_id(:projects), src: search_project_facets_path(search_form.attributes), target: '_top' do %>
      Loading <%= helpers.facet_label(:projects) %> facet...
    <% end %>
    <%= helpers.turbo_frame_tag helpers.facet_id(:tags), src: search_tag_facets_path(search_form.attributes), target: '_top' do %>
      Loading <%= helpers.facet_label(:tags) %> facet...
    <% end %>
  <% end %>

  <%= tag.div id: helpers.facet_id(:object_types) do %>
    Loading <%= helpers.facet_label(:object_types) %> facet...
  <% end %>

  <%= tag.div id: helpers.facet_id(:access_rights) do %>
    Loading <%= helpers.facet_label(:access_rights) %> facet...
  <% end %>

  <%= helpers.turbo_frame_tag helpers.facet_id(:wps_workflows), src: search_workflow_facets_path(search_form.attributes), target: '_top' do %>
    Loading <%= helpers.facet_label(:wps_workflows) %> facet...
  <% end %>
</section>
