<section aria-label="Facets" class="facets">
  <h2 class="facets-heading h4">Filters</h2>

  <% unless blank_search? %>
    <%# Not loaded on home page. %>
    <%= render Search::LoadingFacetFrameComponent.new(search_form:, facet_config: Search::Facets::PROJECTS) %>
    <%= render Search::LoadingFacetFrameComponent.new(search_form:, facet_config: Search::Facets::TAGS) %>
    <%= render Search::LoadingFacetFrameComponent.new(search_form:, facet_config: Search::Facets::TICKETS) %>
  <% end %>

  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::OBJECT_TYPES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::CONTENT_TYPES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::ACCESS_RIGHTS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::LICENSES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::COLLECTIONS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::ADMIN_POLICIES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::MIMETYPES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::FILE_ROLES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::VERSIONS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::PROCESSING_STATUSES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::RELEASED_TO_EARTHWORKS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::RELEASED_TO_PURL_SITEMAP) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::RELEASED_TO_SEARCHWORKS) %>
  <%= render Search::LoadingFacetFrameComponent.new(search_form:, facet_config: Search::Facets::WORKFLOWS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::METADATA_SOURCES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::REGISTERED_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::LAST_ACCESSIONED_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::EARLIEST_ACCESSIONED_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::LAST_PUBLISHED_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::LAST_OPENED_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::EMBARGO_RELEASE_DATE) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::IDENTIFIERS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::SW_RESOURCE_TYPES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::MODS_RESOURCE_TYPES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::DATES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::TOPICS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::REGIONS) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::GENRES) %>
  <%= render Search::LoadingFacetDivComponent.new(facet_config: Search::Facets::LANGUAGES) %>
</section>
