<section aria-label="Facets" class="facets">
  <h2 class="facets-heading h4">Filters</h2>

  <% unless blank_search? %>
    <%= helpers.turbo_frame_tag helpers.facet_id(:projects), src: search_project_facets_path(search_form.attributes), target: '_top' do %>
      <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:projects)) %>
    <% end %>
    <%= helpers.turbo_frame_tag helpers.facet_id(:tags), src: search_tag_facets_path(search_form.attributes), target: '_top' do %>
      <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:tags)) %>
    <% end %>
  <% end %>

  <%= tag.div id: helpers.facet_id(:object_types) do %>
    <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:object_types)) %>
  <% end %>

  <%= tag.div id: helpers.facet_id(:access_rights) do %>
    <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:access_rights)) %>
  <% end %>

  <%= tag.div id: helpers.facet_id(:mimetypes) do %>
    <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:mimetypes)) %>
  <% end %>

  <%= tag.div id: helpers.facet_id(:released_to_earthworks) do %>
    <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:released_to_earthworks)) %>
  <% end %>

  <%= helpers.turbo_frame_tag helpers.facet_id(:wps_workflows), src: search_workflow_facets_path(search_form.attributes), target: '_top' do %>
    <%= render Search::LoadingFacetSectionComponent.new(label: helpers.facet_label(:wps_workflows)) %>
  <% end %>
</section>
