<%= tag.ul class: classes, role: 'tablist' do %>
  <% tabs.each do |tab| %><%= tab %><% end %>
  <% if action %>
    <li class="nav-item"><%= action %></li>
  <% end %>
<% end %>

<%= header %>

<div class="tab-content">
  <% panes.each do |pane| %><%= pane %><% end %>
</div>
