<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for(:title) || 'Argo B3' %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="application-name" content="Argo B3">

    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%# = tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">

    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <link rel="apple-touch-icon" href="/icon.png">

    <% component_library_url = 'https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-09-11' %>
    <%= tag.link rel: 'icon', href: "#{component_library_url}/styles/icon.png", type: 'image/png' %>
    <%= tag.link rel: 'icon', href: "#{component_library_url}/styles/icon.svg", type: 'image/svg+xml' %>
    <%= tag.link rel: 'apple-touch-icon', href: "#{component_library_url}/styles/icon.png" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= tag.link rel: 'stylesheet', href: "#{component_library_url}/styles/sul.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render HeaderComponent.new %>
    <div class="container mt-3">
      <%# This prevents the flash from being cached by turbo. %>
      <div data-turbo-temporary="true">
        <% flash.filter { |type, _| type.to_sym != :toast }.each do |flash_type, msg| %>
          <%= render SdrViewComponents::Elements::AlertComponent.new(variant: flash_type, title: msg) %>
        <% end %>
      </div>
    </div>

    <%# Toasts can be rendered into this container. %>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1080" id="toast-container">
      <%= render SdrViewComponents::Elements::ToastComponent.new(title: flash[:toast]) if flash[:toast].present? %>
    </div>
    <%= yield %>
    <%= render SdrViewComponents::Structure::FooterComponent.new %>
  </body>
</html>
